{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "es6": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "quotes": 0,
    "space-before-function-paren": 0,
    "semi": 0,
    "react/jsx-boolean-value": 0,
    "space-before-blocks": 0,
    "generator-star-spacing": 0
  }
}
